{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>

 {% endblock  %}



{% block body %}

<h1>All Posts</h1>
<hr> 
<h1>Edit Post</h1>
    
    <label for="Title">Title:</label>
    <input class="form-control" name="title" id="title" type="search" placeholder="Enter Title" value="{{post.title}}"aria-label="Search">
    <br />
    
    <label for="author">Author::</label>
    <input class="form-control" name="author" id="author" type="search" placeholder="Enter Author" value="{{post.author}}" aria-label="Search">

    <br />
   
    
    
    <label for="content">Post:</label>
    <textarea class="form-control" name="content"  rows="3"   aria-label="Enter Content">{{post.content}}</textarea>

    <br />
    <input type="submit" value="save">


</form>
<hr>

{% endblock  %} 