{% extends 'base.html' %}

{% block head %}
<title>Posts</title>

 {% endblock  %}



{% block body %}

<h1>All Posts</h1>
<hr> 
<h1>Create New Blog Post</h1>
<form action="/posts" method="POST">
    Title <input type="text" name="title" id="title">
    <br/>
    Author <input type="text" name="author" id="author">
    <br/>
    Post <input type="text" name="content" id="content">
    <br/>
    <input type="submit" value="post">


</form>
<hr>
{% for post in posts %}
        <h2>{{post.title}}</h2>
        <br/>
        {% if post.author %}
            <h3>Post by {{post.author}}</h3>
        {% else %}
            <h3>NA</h3>
        {% endif %}
        <br/>
        <h2>{{post.content}}</h2>
        <a href="/posts/delete/{{post.id}}" >Delete</a>
        <a href="/posts/edit/{{post.id}}" >Edit</a>
        <hr>

{% endfor %}
{% endblock  %} 